[submodule "professional"]
	path = professional
	url = https://github.com/Assets-DB/professional.git
[submodule "order"]
	path = order
	url = https://github.com/Assets-DB/order.git
[submodule "coordinator"]
	path = coordinator
	url = https://github.com/Assets-DB/coordinator.git
