[submodule "professional"]
	path = professional
	url = https://github.com/Assets-DB/professional.git
[submodule "order"]
	path = order
	url = https://github.com/Assets-DB/order.git
[submodule "coordinator"]
	path = coordinator
	url = https://github.com/Assets-DB/coordinator.git
[submodule "community"]
	path = community
	url = https://github.com/Assets-DB/community.git
[submodule "auth-mg"]
	path = auth-mg
	url = https://github.com/Assets-DB/auth-mg.git
